# Type Conversion

In [3]:
# Example
birth_year = input ('Birth year: ')  # Whenever you use input function, you will always get string. 
# If you need numerical values, you always need to convert it to int or float numbers.
print(type(birth_year))       # type() python built in function
age = 2022 - int(birth_year) # int()function helps convert string to int
print(type(age))
print(age)

Birth year: 1992
<class 'str'>
<class 'int'>
30

In [12]:
# Exercise
# Ask a user their weight (in pounds), convert it to kilograms and print on the ternimal.
weight_lbs = input ('What is your weight(lbs): ')
weight_kg = int(weight_lbs)*0.45
print(str(weight_kg)+' kg')

What is your weight(lbs): 115
51.75 kg

# String

In [1]:
# Example
# Use double quotes to avoid apostrophe error
course = "Python's Course for Begineers"
print(course)

Python's Course for Begineers

In [2]:
# Use apostrophe to avoid double quotes error
course ='Python for "Beginners"'
print(course)

Python for "Beginners"

In [3]:
# Define a string in multiple length: tripe quotes
course = '''
Hi Yan,
Here is our first email to you.

Thank you,
The support team

'''
print(course)

Hi Yan,
Here is our first email to you.

Thank you,
The support team

In [4]:
# Use square brackets to get a character and a given index in this string
course = 'Python for Beginners'
         #0123
print(course[0])

P

In [5]:
# Use negative index, this is one of the features in python
print(course[-1])

s

In [6]:
print(course[-2]) # second character from the end

r

In [8]:
# Use a similar syntax to extract a few characters instead of 1 character
print(course[0:3]) # will 0,1,2, not include 3

Pyt

In [9]:
print(course[0:]) # return from start to the end characters

Python for Beginners

In [11]:
print(course[1:])

ython for Beginners

In [12]:
print(course[:5])

Pytho

In [15]:
another = course[:] # copy 
print(another)

Python for Beginners

In [16]:
# Exercise 
name ='Jennifer'
print(name[1:-1]) # will not return the end (-1 means the end character)

ennife

# Formatted Strings

In [20]:
# Example
# Formatted Strings are partically useful when we dynamically generate some text with variables
first_name = 'Yan'
last_name ='Wang'
message = first_name + ' [' + last_name +'] is a coder' # this is hard to visualize
print(message)
# We want to print "Yan [Wang] is a coder"

Yan [Wang] is a coder

In [21]:
msg = f'{first_name} [{last_name}] is a coder'
print(msg)

Yan [Wang] is a coder

# String Methods

In [22]:
course = 'Python for Beginners'
print(len(course)) # print(),len() are general purpose functions

20

In [23]:
course.upper() # upper() is specific string function, so we called string method

'PYTHON FOR BEGINNERS'

In [24]:
course.lower()

'python for beginners'

In [25]:
course.find('P') # find() is sensitive for upper and lower function

0

In [27]:
course.find('o')

4

In [28]:
course.find('Beginners') # it will return 11 becasue "B" index is 11

11

In [29]:
# Method for replacing a character or a sequence of characters
course.replace('Beginners','Absoutle Beginners')

'Python for Absoutle Beginners'

In [30]:
course.replace('P','j')

'jython for Beginners'

In [32]:
# boolean expression
'Python' in course

True

In [33]:
'jython' in course

False

In [34]:
course.title()  #Make the first letter in each word upper case:

'Python For Beginners'

# Arithmetic Operations

In [35]:
10//3

3

In [36]:
10 % 3 # return the remainder of the division

1

In [37]:
10 ** 3

1000

In [41]:
x = 10
x = x + 3
x

13

In [42]:
x += 3
x

16

In [43]:
x = 10 + 3*2
x

16

In [44]:
x = 10 + 3 * 2 ** 2
x

22

# Math Function

In [45]:
x = 2.9
round(x)

3

In [46]:
abs(-x)

2.9

In [47]:
import math

In [48]:
math.ceil(2.9)

3

In [49]:
math.floor(2.9)

2